## Assignment/Task 1
## Chandan Kumar
## GO_STP_13267

Question 1 (Part 1)

In [2]:
Colors=['Yellow','Green','White','Black']
Fruits=['Apple','Papaya','Mango','Orange']
Animals=["Tiger","Lion",'Deer','Zebra']
a=input("Enter value of colors, fruits or animals")
if a in Colors:
  print("Input", a , "belongs to colors category")
elif a in Fruits:
    print("Input", a ,"belongs to fruits category")
elif a in Animals:
    print("Input",a, " belongs to animals category")
else:
    print("Input", a , "doesn`t belong to any category")

Input Green belongs to colors category

Question 1 (Part 2)

In [2]:
a=input("Enter value of colors, fruits or animals")
b=input("Enter value of colors, fruits or animals")
if a in Colors and b in Colors:
  print("Both are colors")
elif a in Fruits and b in Fruits:
    print("Both are Fruits")
elif a in Animals and b in Animals:
    print("Both are Animals")
else:
    print("They don't belong to same category")

Both are colors

Question 2

In [3]:
a=int(input("Enter value of a: "))
if a>40 and a<60:
  print("Score is normal")
if a<40:
  print("Score is low")
else:
  print("Score is good")

Score is good

QUESTION 3

In [4]:
result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]
i=0
for value in result:
  if value == "Pass":
     i += 1 
print("Number times you passed", i , "\nNumber of times you Failed", len(result)-i)

Number times you passed 4
Number of times you Failed 6

Question 4

In [5]:
x= int(input("Enter number of lines"))
for i in range(x):
  if(i<= x/2):
    print("* "*i)
  if(i>x/2):
    print("* "*(x-i))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Question 5

In [6]:
for i in range(1,51):
  if i % 10 ==0 and i <50:
    a=input("are you tired? ")
    if a == "yes":
      print("you didn't finish the race")
      break
    elif a=="no":
      continue
  elif i == 50:
     print("you finshed the race")

you finshed the race

Question 6

In [7]:
for i in range(1500,2701):
  if i % 7 == 0 and i % 5 == 0:
    print(i, end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

Question 7

In [8]:
for i in range(10,21):
  if(i%2!=0):
    print(i*i)

121
169
225
289
361

Question 8

In [9]:
marks_list = [65, 75, 2100, 95, 83]
a = int(input("Enter Makrs"))

if a in marks_list:
  print(a,"marks scored in test no:", marks_list.index(a)+1)
else:
  print(a, "Marks not present in the Marks list")

95 marks scored in test no: 4